@{
    ViewBag.Title = "Access Denied";
}

<div class="container">
    <header class="text-center container py-5 mb-4 mt-5 text-white" style="background-color: darkred ">
        <div class="container">
            <h1 class="fw-light text-white">Access Denied</h1>
        </div>
    </header>
</div>
