@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Header -->
<header class="text-center container py-5 mb-4" style="background-color: #9fafca">
    <div class="container">
        <h1 class="fw-light text-white">Meet the Team</h1>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-6 col-md-6 mb-2">
            <div class="card border-0 shadow">
                <img src="~/images/web-developer.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h2 class="card-title mb-0">Mehdi Noroozi</h2>
                    <h4 class="card-text text-black-50">Web Developer</h4>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-6 col-md-6 mb-2">
            <div class="card border-0 shadow">
                <img src="~/images/web-developer.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h2 class="card-title mb-0">Raul Laconsay</h2>
                    <h4 class="card-text text-black-50">Web Developer</h4>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-6 col-md-6 mb-2">
            <div class="card border-0 shadow">
                <img src="~/images/girl developer-web.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h2 class="card-title mb-0">Jazlyn Rignanesi</h2>
                    <h4 class="card-text text-black-50">Web Developer</h4>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-6 col-md-6 mb-2">
            <div class="card border-0 shadow">
                <img src="~/images/web-developer.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h2 class="card-title mb-0">John Schober</h2>
                    <h4 class="card-text text-black-50">Web Developer</h4>
                </div>
            </div>
        </div>

        <!-- Team Member 4 -->
        <div class="col-xl-6 col-md-6 mb-2">
            <div class="card border-0 shadow">
                <img src="~/images/web-developer.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h2 class="card-title mb-0">Guanglong Qu</h2>
                    <h4 class="card-text text-black-50">Web Developer</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>

<header class="text-center container py-5 mb-4" style="background-color: #9fafca">
    <div class="container">
        <h1 class="fw-light text-white">Used Technologies</h1>
    </div>
</header>

<div class="text-center" style="background-color: lightcyan">

    <div>

        <h2>
            ASP.NET core MVC <br />
            Controllers and Razor Views<br />
            Session state and Cookies <br />
            Data validation<br />
            Entity Framework Core<br />
            Dependency injection and unit testing<br />
            Tag helpers, partial views, and view components

        </h2>

    </div>

</div>

<!-- /.container -->